[2016-10-15 13:24] gasserol opened #2 "404 page error with image picker"
Hi, thanks for this very good module. Unfortunately I have a small problem with image picker, using as in your description it gives a 404 page not found error on create action in a form when clicking on the folder icon to select an image. If I manually insert the picture id in the corresponding field in database, it shows the preview. Any idea where this is coming from? Many thanks for your help a

[2016-10-15 16:45] noam148 commented on #2
Hi @gasserol , thanks for your message. Tomorrow I will take a look what going wrong. A few questions:
- Do you get the 404 error on the whole page or only in the modal?
- Can you reach the image manager on [yoururl.com]/imagemanager
- Maybe you can send me some example code from the action/view/ config component/module part?

Please let me know!

[2016-10-16 19:13] noam148 commented on #2
@gasserol are you sure you add the "imagemanager" module part in your config? Its required for using the imagepicker. Let me know if it fixed or still not working.

[2016-10-22 13:02] gasserol commented on #2
Hi noam148, thanks for your reply and sorry for my long answering time (due to other customer work):

First of all, I get the 404 error only in the modal, the normal [yoururl.com]/imagemanager is working fine.
I'm working with the advanced template and my config files are the following:
backend/config/main.php:

[code]

common/models/brand.php looks like:

[code]

backend/views/brand/create looks

[2016-10-22 14:21] noam148 commented on #2
Hi Gasserol, i've copy your code in a own envoirment but it seems that everything works okay here.

So maybe the url in the modal iframe is generate wrong.

Can you send me the src attribute url from the modal iframe on the create and the update page? See below:

**body > div#modal-imagemanager > div.modal-dialog > div.modal-content > div.modal-body > iframe**

[2016-10-22 15:15] gasserol commented on #2
H noam148,

the iframe src is :
`<iframe src="/visioMarketing3/backend/web/index.php?r=imagemanager%2Fmanager?view-mode=iframe&amp;input-id=brand-logoid&amp;aspect-ratio=1.7777777777778&amp;crop-view-mode=1"></iframe>`

Here is an printscreen from my system.

Thanks for your help and time!
![bildschirmfoto 2016-10-22 um 17 13 18](https://cloud.githubusercontent.com/assets/4066878/19620307/17e6bfe6

[2016-10-22 15:43] noam148 commented on #2
Thanks gasserol, can you send me also the iframe url on the **update** page?

[2016-10-22 15:45] gasserol commented on #2
Sorry, update iframe url is:
`<iframe src="/visioMarketing3/backend/web/index.php?r=imagemanager%2Fmanager?view-mode=iframe&amp;input-id=brand-logoid&amp;aspect-ratio=1.7777777777778&amp;crop-view-mode=1&amp;image-id=9"></iframe>`
![bildschirmfoto 2016-10-22 um 17 44 51](https://cloud.githubusercontent.com/assets/4066878/19620512/5fd7014a-987f-11e6-9a37-8c44965ce071.png)

[2016-10-22 16:48] noam148 commented on #2
I found a bug. When I disable enablePrettyUrl in the urlManager component I get the samen 404 error. Tomorrow I searching for a solution!

[2016-10-22 17:19] noam148 commented on #2
Hi @gasserol I found the issue, fix it and update the module. Can you get the last version and check the image picker works (don't forget clear the assets folder after updating te module)?

[2016-10-23 09:09] gasserol commented on #2
Hi @noam148, thanks a lot for your help, now it works perfectly. Excellent module! I will publish a small note to make you publicity on yii2 facebook group!

[2016-10-23 09:20] gasserol opened #4 "German translation of your module"
Hi @noam148 , this would be the German translation of your module:

[code]

this is the french version:

[code]

and this is the italian version:

<?php
return [
    'Are you sure you want to delete this image?' => 'Vuole veramente cancellare questa immagine?',
    'Are you sure you want to detach the image?' => 'Vuole distaccare questa immagine?',
    'Cancel' => 'Cancellre',
    'Created' => 'Cr

[2016-10-23 09:29] noam148 commented on #2
Thanks @gasserol for your feedback and help to find the bug! Let me know if you find someting else or if you got any suggestion for improvement.

[2016-10-23 09:29] #2 closed, assigned to nobody

[2016-10-23 10:25] noam148 commented on #4
Thanks @gasserol, the translations are added!

[2016-10-23 10:25] #4 closed, assigned to nobody

[2016-10-25 18:16] vc7deo opened #6 "use it in the editor like wysiwyg or tinymice"
can we use it in image button of the editors like wysiwyg or the tinymice

[2016-10-25 18:30] noam148 commented on #6
That's a good idea, if i got some time this week I will check the possibilities.

[2016-10-26 09:48] vc7deo commented on #6
Thank you..I have one more doubt.

![image](https://cloud.githubusercontent.com/assets/8149102/19721271/29ee3202-9b8f-11e6-8778-dd28964640b1.png)

instead of using file name like this can we use the actual filename stored in the database.so this is very helpful for the seo if we use the images in frontend

[2016-10-28 09:03] noam148 commented on #6
For the second issue I need to create a own image thumbnail helper. At the moment I use the thumbnail helper "himiklab/yii2-easy-thumbnail-image-helper" and so far I know thats not possible with this helper component.

This weekend I hope to work on it, I let you know if there is an update!

[2016-10-28 20:12] bvanleeuwen1995 opened #7 "Crop and select combination button"
Would it be possible to add a crop and select button, what currently happen is that I choose a image and crop it the way I want it to be. When I'm done I click on the select button, but the non-cropped version gets selected, and the cropped image is not save.

Would it be possible to combine the current select button to also save the cropped image, and automatically select it?

Ore if you reckon t

[2016-10-30 19:55] noam148 opened #8 "Use filename instead of hash for images"
![image](https://cloud.githubusercontent.com/assets/8149102/19721271/29ee3202-9b8f-11e6-8778-dd28964640b1.png)

instead of using file name like this can we use the actual filename stored in the database.so this is very helpful for the seo if we use the images in frontend

reported by @vc7deo

[2016-10-30 20:02] noam148 commented on #6
@vc7deo with the last commit its now possible to use the imagemanager in CKEditor and TinyMCE. See README for instructions. Don't forget the clear the assets after update.

I create a new issue for the issue with the filename. For that i need to build a new component so that for later. I let you know when that done.

[2016-10-30 20:02] #6 closed, assigned to nobody

[2016-11-01 07:20] vc7deo commented on #6
@noam148 great work... its working perfectly

[2016-11-02 08:15] noam148 commented on #7
I work on it after the next weekend

[2016-11-20 17:55] noam148 commented on #7
Add the button in the last release, don't forget to clear the assets cache!

[2016-11-20 17:55] #7 closed, assigned to nobody

[2016-11-23 16:03] ghost opened #10 "Filename dashes to underscore"
After uploading an image the dashes (-) are replaced with underscores (_). Please change this so that underscores (_) are replaced with dashes (-) for SEO reasons.

[2016-11-24 21:45] noam148 commented on #10
@gillz-jasper Thanks for report, it is fixed! I've made some changes in the config of the component and module and the line in the compose file. Check these setting before update!

[2016-11-24 21:45] #10 closed, assigned to nobody

[2016-11-24 21:49] noam148 commented on #8
@vc7deo It is now possible to use the filename in the generated cache files. See below:
'components' > 'imagemanager' > 'useFilename' = true (default on true)
For more info see the readme.

I've made some changes in the config of the component and module and the line in the compose file. Check these setting before update!

[2016-11-24 21:49] #8 closed, assigned to nobody

[2016-12-08 18:39] harry-maulana opened #11 "add some feature"
hi Noam..

how to add some feature, like as rotate, zoomin, etc.
thanks

[2016-12-08 19:04] noam148 commented on #11
Sounds good, I will work on it. But first I want to add a feature that make possible to add tag to images for categorize them. I let you know when to start with you issue.

[2016-12-08 19:50] abdallah-elsabeeh commented on #11
hi how to get the image URL to store in the DB

[2016-12-08 20:29] harry-maulana commented on #11
hi Noam, thx for reply.
can you let we all know, how this plugin (jquery crop) work.. in one layer for all action/feature or need one special layer for each action/feature. like as in my case, i want to add rotate feature, whether i should add new layer?
thx before..

[2016-12-08 20:58] harry-maulana commented on #11
@zaxx44a7 i don't know too zaxx, I just know there are plugins as good like this.

[2016-12-08 21:08] noam148 commented on #11
@zaxx44a7 If you get the ImageManager_id you can generate a cache url what is possible to store in your database by call this component:

`
\Yii::$app->imagemanager->getImagePath($ImageManager_id, $width, $height, $thumbnailMode)
`

[2016-12-08 21:11] noam148 commented on #11
@harry-promogata I use this jquery plugin to crop the image [https://fengyuanchen.github.io/cropper/](url). So as you can see in the example there is possibilities for rotating and flip the image. The zoom options is already in the module.

[2016-12-08 21:35] harry-maulana commented on #11
yes. that is possible, but i don't know how to add that feature.. lol,
so i wait your job next (if you want to add thats feature)

thx Noam..

[2016-12-09 08:41] noam148 commented on #11
@harry-promogata yes I wil add them, I let you know if the new feature are add!

[2016-12-20 20:52] noam148 opened #12 "Tag images"
At the moment I build a optional part to add/manage tags to images. The next week I got some time to finish this issue and fix the next open issue.

[2017-01-19 10:52] PradeepN93 opened #13 "Only Cropped Image has to save in database"
Hi noam148,
Iam used your plugin and it is nice.

I want  only cropped images has  save in to database , but in your plugin the both cropped image and uploaded image is saving to the database.

Please help me to solve this problem...

[2017-01-19 13:12] noam148 commented on #13
@PradeepN93 At the moment there is option to keep only the cropped image.
Unfortunately, I'm busy at the moment and there are still some other issues open.
But I will add this on my todo list for future modifications. Unfortunately I can't say when this is done but thanks for your feedback.

[2017-01-25 12:01] thakkar-roshani opened #14 "image picker popup url not working in module"
hi Noam..

Thanks for your plugin.
u save lots of time of mine.

for image picker iframe is opened in model popup. Its working fine in main directory.

But when i am using it in any module,proper path is not coming so it is giving me 404.

I have traced it.
please do change in following file
noam148\yii2-image-manager\components\ImageManagerInputWidget.php

Line no : 113
from : $sBaseUrl =  Url::t

[2017-01-25 12:50] noam148 commented on #14
Hi @thakkar-roshani,
Thanks for reporting this issue, there is now a new update available where the change is add.

[2017-01-25 12:50] #14 closed, assigned to nobody

[2017-01-26 13:25] thakkar-roshani opened #15 "delete image from database"
hi Noam..

How can i delete imagemanager id from database when deleting image?

On clicking delete image,image is being detached from control but how i can remove its id from database table?

[2017-01-26 13:32] knshah2010 opened #16 "Multiple image in image control"
I want to select multiple image in image control and store it into my child table which i have created for manipulate images as per requirement.

please help me to get it done.

thanks

[2017-01-26 13:33] noam148 commented on #15
Hi @thakkar-roshani that's only possible in the imagemanage. When you click on a image in the image overview there show up some details on the right side in de modal. There will be also a red delete button. If you click on that button, the file will be deleted and remove from the databse.

[2017-01-26 13:43] noam148 commented on #16
Hi @knshah2010, I will add this to my todo list. I were partially already building this feature but not finish it jet. Unfortunately, I'm busy and do not know when I can work on it. But i will add this in the future

[2017-02-04 07:56] drivejoshue opened #17 "one manager for eah user"
hello . how can  get only images  of each user  . i try insert created_by  behavior .  but it doesn´t work .. i hope you can help me . tankyou

[2017-02-04 08:43] bvanleeuwen1995 commented on #17
So you want users to only show images they have uploaded to the system to show up?

[2017-02-06 20:00] drivejoshue commented on #17
yes  ,    i did it  ..   i added a  field  user id  .   and  behaviors  .
 and  its  work  ..   naw  each  user  have  a   imagemanger for  own
 images  ..

tankyou  for  answer  ..

2017-02-04 2:43 GMT-06:00 Bob van Leeuwen <notifications@github.com>:

--
Atte.
LIA. Cesar Joshue Mendez C.
Telcel . 2291 492441
cpjoshuemc@gmail.com

[2017-02-06 20:02] bvanleeuwen1995 commented on #17
Could you make a pull request with your code changes? It might be interesting to implement this as a optional feature, if @noam148 agrees with me. I do see the uses for this.

[2017-02-06 21:56] drivejoshue commented on #17
yes  ..   im in job right now  but  later  i send  you

2017-02-06 14:02 GMT-06:00 Bob van Leeuwen <notifications@github.com>:

--
Atte.
LIA. Cesar Joshue Mendez C.
Telcel . 2291 492441
cpjoshuemc@gmail.com

[2017-02-07 01:50] drivejoshue commented on #17
add blameable behaviors  ..   and    fields    created_by    and
updated_by

2017-02-06 15:56 GMT-06:00 Joshue Mendez <cpjoshuemc@gmail.com>:

--
Atte.
LIA. Cesar Joshue Mendez C.
Telcel . 2291 492441
cpjoshuemc@gmail.com

[2017-02-22 15:17] #15 closed, assigned to nobody

[2017-02-23 13:37] noam148 commented on #17
@drivejoshue thanks to @bvanleeuwen1995 he added blameable behavior for the image manager.

**It's important to run the migrate if you want to use this feature**

If there any questions, let me know!

[2017-02-23 13:37] #17 closed, assigned to nobody

[2017-02-23 17:36] gasserol opened #20 "Trigger image selection from javascript frontend"
Hi noam148, is there any way to trigger the image selector in frontend, with javascript/jquery.. for example with a button calling your widget from server (controller action)? I'm sticking in a landingpage generator (which composes elements on frontside in browser) and I would like to access the uploaded images from your extension. I would need to have either a javascript script rendering the fiel

[2017-02-24 13:41] noam148 commented on #20
Hi @gasserol, it is not clear for me what you mean. Can you explain it to me more clearly, maybe with screens or something like that?

[2017-02-26 14:27] gasserol commented on #20
Hi noam148, thanks for replying me. I want to make a cms-similar site with drag-and-drop-Editor.
![bildschirmfoto 2017-02-26 um 15 17 43](https://cloud.githubusercontent.com/assets/4066878/23340511/c431573c-fc37-11e6-9313-68bcc40b8549.png)

on the Clientside everything is jQuery.

On click of the upper button labeled "Change Photo" it opens fileupload from Desktop and when doing it, it sets the im

[2017-03-03 13:11] noam148 commented on #20
Hi Oliver,
So if i'm correct you want the follow:

- On click "change photo": select a photo with the file upload browser and do a file post to ?r=imagemanager/manager/upload

- On click "photo noam": open imagemanager module and select a photo. And after select a photo, you want get the full image path back?

If this is what you want, I thick with some tricks it's possible. If you confirm this I

[2017-03-03 16:25] gasserol commented on #20
Hi noam148, thansk for your replying. First point is absolutely correct, this is what I would realize. Second point is also correct. I can open your imagemanager module in modal, this works, but when selecting a photo only its thumbnail path is given back, not the original file path stored in db.. and another 'ugly' thing is that if you open this in modal, then the imagemanager shows up, but image

[2017-04-20 17:34] gfericsanjr opened #22 "Dynamic form attribute"
Hi,

I work with dynamic form. My form field is:

`<?=
            $form->field($model, "[$i]image")->widget(\noam148\imagemanager\components\ImageManagerInputWidget::className(), [
                'aspectRatio' => (16 / 9),
                'showPreview' => true,
                'showDeletePickedImageConfirm' => false,
            ]);
            ?>`

This code is wrong. Getting unknown property .

[2017-04-20 17:47] bvanleeuwen1995 commented on #22
@noam148 I can confirm that this is a fix for the problem, but much better that I put in place a couple of weeks ago for a project.

Could you please create a PR for this fix?

[2017-04-20 19:49] noam148 commented on #22
@gfericsanjr thanks for reporting. I know there is an issue for dynamic forms. Next sunday i got time to take a look to your solution. I let you now if it's fixed!

[2017-04-23 15:57] noam148 commented on #22
Issue is fixed in release [1.2.2](https://github.com/noam148/yii2-image-manager/releases/tag/1.2.2)

Thanks again @gfericsanjr

[2017-04-23 15:57] #22 closed, assigned to nobody

[2017-04-23 19:48] noam148 commented on #20
Hi @gasserol,

Sorry for my late respone but finally I have some time again, and as I promised i searching for a solution see:
[https://github.com/noam148/yii2-image-manager/files/949950/example.zip](https://github.com/noam148/yii2-image-manager/files/949950/example.zip)

I have test the code and everything work fine here. It's a stand alone site and it needs only:
- jquery
- Bootstrap
- Bootstrap

[2017-04-24 06:31] gasserol commented on #20
Thanks @noam148 I will tryout this as soon as I have a little time, actually we have lots of customer work to do :-) many thanks anyway, I really appreciate. Will let you know. BR, Oliver

[2017-04-26 13:44] hbhe opened #23 "migration table name is invalid if db has a tablePrefix"
the migration table name may be {{%migration}}

Module.php
$mRecordMigrationRun = Yii::$app->db->createCommand('SELECT * FROM `migration` WHERE `version` = \'m170223_113221_addBlameableBehavior\'')->queryOne();

[2017-05-11 13:09] bvanleeuwen1995 commented on #23
Thank you for your report, I have just looked into this.

We will update this is in the next release of the image manager.

[2017-05-13 19:09] bvanleeuwen1995 commented on #23
Pull request has been created
@noam148: This issue can be closed after merge.

[2017-05-13 19:51] bvanleeuwen1995 commented on #13
@noam148 please look at PR-26

[2017-05-14 17:42] vapinedo opened #27 "I got a error using imagemanager, i need help please"
#Hi someone can i help me?, i have installed the imagemanager extension on yii2, but when  i try to upload a image something fails.

am using de advanced template yii2, and i'm working on local on MAC.

here is a 3  snapshots about the issue:

**1) The view _form where i use de widget imagemanager:**
![image](https://cloud.githubusercontent.com/assets/9469225/26036379/2ff2dc88-38a2-11e7-930e-234d4

[2017-05-14 18:18] bvanleeuwen1995 commented on #27
Could you please give a screenshot of any request that fails and the response it gives? This error message means that somewhere a error was found, but in order to drive into this we need the error message.

I have just tested it on my local installation with your settings, and had no error sadly so I could not pinpoint it for you.

[2017-05-14 20:18] noam148 commented on #23
Please update to last release
@hbhe thanks for reporting, @bvanleeuwen1995 thanks for fixing!

[2017-05-14 20:18] #23 closed, assigned to nobody

[2017-05-14 20:22] noam148 commented on #13
Please update to last release and add the next line to your imageManager module config

[code]

@PradeepN93  thanks for reporting, @bvanleeuwen1995 thanks for fixing!

[2017-05-14 20:22] #13 closed, assigned to nobody

[2017-05-14 20:29] noam148 commented on #27
Please update to the last release. I update the code and this give you a new error with more details. And send me the error.

- I have some questions. Is the image uploaded when you get that error or is the image not uploaded? I ask that because i see other images (already uploaded).
- What diffrence between the image that's already been uploaded and the image that can't upload?

Let me know so I

[2017-05-14 21:55] vapinedo commented on #27
**Good answering the question of _noam148_, ie the following questions:**

**1) ¿Is the image uploaded when you get that error or is the image not uploaded? I ask that because i see other images (already uploaded). ?**

**The Answer**
The truth is when I try to upload an image, actually to the image if it is uploaded to the server correctly, but ... what happens is that the image is loading and I

[2017-05-15 04:50] PradeepN93 commented on #13
Thank You @noam148 and @bvanleeuwen1995

[2017-05-15 05:51] noam148 commented on #27
Thanks for answering my questions! Yes I create yesterday (May 14, 2017) a update. And this small release change the error message and give it some more details.

So when you update it and you try to upload a image again you will get an error with more info.

Let me know what the message is ;)

[2017-06-13 07:28] spyr0s opened #30 "Prevent unauthorized access to module"
Not an Issue, just a tip

If you don't want anyone to have access to /imagemanager add this in the configuration of the model
[code]

[2017-06-13 07:40] noam148 commented on #30
Thanks for the tip! Also a possibility is manage the access by RBAC. But if you don't use that, this is a good example to manage it.

[2017-07-02 08:08] #30 closed, assigned to nobody

[2017-07-12 12:31] nazakar opened #31 "Can't upload image"
Hi, only showing preocessing, and not uploading, no error in debuger too
Thanks

[2017-07-12 13:04] noam148 commented on #31
Maybe the module doesnt return an error but can you give me the response from the ajax call?

[2017-07-13 08:13] wblbird opened #32 "can not crop"
all config follow on README.md
it works well ,can upload image ,can delete image
when I corp a image ，it alert “Error: item is not  cropped”

[2017-07-13 08:22] noam148 commented on #32
Can you show me your ajax request response? When the crop apply the code send a ajax request with the position and sizes. With that data php cropped the image. But its possible that php hasn't got enough memory and than the code crashed.

If it crashe php return error in the ajax request. Can you show me the response?

[2017-07-14 16:02] wblbird commented on #32
5968e9a84db70: POST http://127.0.0.1/index.php?r=imagemanager%2Fmanager/crop at 2017-07-14 03:56:24 pm by 127.0.0.1

CropData
[
    'x' => '75.5086956521739'
    'y' => '33.93260869565217'
    'width' => '456'
    'height' => '378.3999999999999'
    'rotate' => '0'
    'scaleX' => '1'
    'scaleY' => '1'
]

[2017-07-14 17:59] noam148 commented on #32
Thanks for the post data, but can you give me also the response data?

[2017-07-15 13:39] wblbird commented on #32
596a19468b51d: POST http://127.0.0.1/index.php?r=imagemanager%2Fmanager/crop at 2017-07-15 01:31:50 pm by 127.0.0.1

Response Headers
<table class="table table-condensed table-bordered table-striped table-hover request-table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>

[2017-07-15 13:51] wblbird commented on #32
596a19406d72e: POST http://127.0.0.1/index.php?r=imagemanager%2Fmanager/get-original-image at 2017-07-15 01:31:44 pm by 127.0.0.1

Response Headers
<table class="table table-condensed table-bordered table-striped table-hover request-table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr

[2017-07-15 13:54] wblbird commented on #32
596a193d56365: POST http://127.0.0.1/index.php?r=imagemanager%2Fmanager/view at 2017-07-15 01:31:41 pm by 127.0.0.1

<table class="table table-condensed table-bordered table-striped table-hover request-table" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>

[2017-07-18 20:21] noam148 commented on #32
Sorry if im not clear, but I need the response of the crop request. See below:
![response](https://user-images.githubusercontent.com/10885039/28337883-55fa4432-6c07-11e7-9614-b4269686796b.png)

[2017-07-19 13:56] wblbird commented on #32
{"name":"Exception","message":"Class 'Imagine\\Image\\Palette\\RGB' not found","code":0,"type":"Error"
,"file":"D:\\qampp_app\\htdocs\\vendor\\noam148\\yii2-image-manager\\controllers\\ManagerController.php"
,"line":296,"stack-trace":["#0 [internal function]: noam148\\imagemanager\\controllers\\ManagerController-

(Array, Array)","#2 D:\\qampp_app\\htdocs\\vendor\\yiisoft\\yii2\\base\\Controller.p

[2017-07-19 13:57] wblbird commented on #32
POST http://127.0.0.1/index.php?r=imagemanager%2Fmanager/crop | 500 Internal Server Error |   | 189ms

[2017-07-19 14:05] noam148 commented on #32
Thats what i need! Do you use a specific version of Imagine in your composer file? I looks like Imagine\Image\Palette\RGB not exists in the version that you used.

[2017-07-20 14:25] wblbird commented on #32
Thank you for your reply。let me check it，and  version of Imagine is 0.5.0

[2017-07-20 14:44] noam148 commented on #32
Try to update it to 0.6.3

That the version I used.

[2017-07-26 17:00] meverikxp opened #33 "Use separate folders for each user"
Hi, I want make some gallery for each user on site. So I want every user need to have owner folder for uploading. But every user see all images now. Can I set folder for every user for uploading images? Thank you.

[2017-07-28 18:24] bvanleeuwen1995 commented on #33
It is currently not possible to store the images for all of the users in a separate folder, you can however enable the blameable behavior by upgrading to the latest version and set the variable 'setBlameableBehavior' to true in the module configuration (this variable can store a callable function, just return a boolean).

When enabling blameable behavior the images that are assigned to the current

[2017-08-10 14:11] noam148 commented on #33
Re-open it, if you have any questions

[2017-08-10 14:11] #33 closed, assigned to nobody

[2017-08-10 14:12] noam148 commented on #31
Re-open it, if you have any questions or need help

[2017-08-10 14:12] #31 closed, assigned to nobody

[2017-08-10 14:13] noam148 commented on #27
Re-open it, if you have any questions or need more help.

[2017-08-10 14:13] #27 closed, assigned to nobody

[2017-08-10 14:13] noam148 commented on #20
@gasserol please, re-open it, if you have any questions or need more help.

[2017-08-10 14:14] #20 closed, assigned to nobody

[2017-08-28 09:59] UnbekanntesPferd commented on #12
Has this ever been added to the module? I couldn't find a way to activate it.

[2017-08-28 19:59] UnbekanntesPferd opened #34 "What path to use?"
Can someone tell me what is the expected value for mediaPath and cachePath?
I tried a lot of different options here, but if I use something for mediaPath that is not the absolute path like /var/www/images the images will not be uploaded.
But in this case the images aren't printed because this absolute path is also used as src in html...

[2017-08-30 17:45] noam148 commented on #12
Unfortunately I'm too busy and I still not work on it yet. Also I don't know when I can start with it.

[2017-08-30 17:58] noam148 commented on #34
**mediaPath** need to be the the absolute file path on the server. It can also be a path outside your webroot. Only php needs read/write permission to this folder. So /var/www/images is correct. **mediaPath** is the path where image-manager store his original images.

**cachePath** is the path where the image-manager store al his thumbnails. it need a relative path in you webfolder. So if your sit

[2017-08-31 08:58] UnbekanntesPferd commented on #34
Perfect. Thank you for the explanation, it works now! :)

[2017-08-31 08:59] UnbekanntesPferd commented on #12
Ok, no problem :)
There is a fork that implements something like that, so maybe that's worth a deeper look.

[2017-08-31 09:00] noam148 commented on #34
You're welcome!

[2017-08-31 09:00] #34 closed, assigned to nobody

[2017-09-05 12:00] UnbekanntesPferd commented on #12
@bvanleeuwen1995 Do you have any plans on a working version of the imageTags-branch?

[2017-09-10 08:37] baltechies opened #35 "Not working in Yii2 Advance template"
Hi,

I am facing issue in Yii2 advance template. Image uploading is working fine but its showing wrong path in TextEditor(dosamigos\tinymce\TinyMce) after select an image. It adding ../ in image path. But image is not loading in frontend application. I have different subdomains for backend and frontend application. Can you please suggest how I can use it?

[2017-09-20 10:59] noam148 commented on #35
Sorry for my late response, I was very busy these days.

Here maybe a solution. Set in your config the propertie  "absoluteUrl" to true in the imagemanager component. It generate a image path with the full domain. I think it generate a image with the backend url, but the image will be generate and loading. Let me know if the solution works!

`'components' => [
    'imagemanager' => [
		'absoluteUr

[2017-09-20 11:11] baltechies commented on #35
@noam148  I already tried this solution but its not working in TinyMce editor. At the time of image browse it return image path with absoluteUrl, but after select the image its get replaced with ../ in image src. When I m viewing the source code in TinyMce editor, then image src is like `<img src="../assets/image/test.jpg">`

[2017-09-20 11:17] noam148 commented on #35
I need to take a look to it. Can you give me an example of your folder structure and a example of you domains so i can reconstruct you scenario?

**update: And what your config is of your module and component for both envoirments?**

[2017-09-20 11:40] baltechies commented on #35
folder structure is same as in Yii2 advance project.
my frontend domain is like **mydomain.local** and backend domain is **mydomain.backend**

**Module config is**
 `'modules' => [	'imagemanager' => [
		'class' => 'noam148\imagemanager\Module',
		//set accces rules ()
		'canUploadImage' => true,
		'canRemoveImage' => function(){
			return true;
		},
		'deleteOriginalAfterEdit' => false, // false:

[2017-09-20 11:59] noam148 commented on #35
Thanks, is this config set in your common config or has the front and back-end his own config?

I was not so clear about the folder structure. What i mean is de location of your webroot of you frontend, backend, and the folder where to store the images?

[2017-09-20 12:46] baltechies commented on #35
yes this is the config of common config files.

Folder structure for frontend application is
![screen shot 2017-09-20 at 6 12 43 pm](https://user-images.githubusercontent.com/13519944/30644277-7f4f93fa-9e2f-11e7-85c2-268617888222.png)

Folder structure for backend application is
![screen shot 2017-09-20 at 6 16 55 pm](https://user-images.githubusercontent.com/13519944/30644438-0098c5d0-9e30-11e7-9

[2017-09-20 13:17] noam148 commented on #35
I see in your component config a typo: `'absoluteUrl' => ture,` (in stead of true). Can you try to replace it?

[2017-09-20 13:41] baltechies commented on #35
Yes I tried it,  but not working. Main problem is that temp(asset) image path is returned, on select an image in TinyMce editor. But asset folder is pointing to backend only. Because we are uploading images from backend application. But when are loading content in frontend then images not found. because frontend  asset folder do not have any image.

[2017-09-20 13:49] noam148 commented on #35
Okay, I need take a look how to fix it. Unfortuntly i'm very busy to plan a trip. Over 3 weeks i'm for 5 weeks on holiday so i dont have a lot time to see what the issue is. I will do my best to fix it before that time but i can't promis it :(

[2017-10-13 08:22] ghost commented on #11
Hi, can there be different image upload locations?

[2017-10-14 08:20] ghost opened #36 "ImageManager not working after changing theme of the application"
Hello,
I have installed yii2-image-manager module to my yii2  ( im developing a website using this template https://github.com/sganz/yii2-advanced-api-template and it worked fine. I have also used 2amigos tinymce which worked good too after following all the instructions on your git.

Recently i have added a theme to my yii2 site as it is ready for production. Since then the module isn't functioni

[2017-10-14 15:57] ghost commented on #36
Adding bootstrap js files from bower to theme js directory solved the issue.
Thank you for the module. Closing this ticket.

[2017-10-14 15:57] #36 closed, assigned to nobody

[2017-11-20 16:19] xenogenesi opened #37 "upload and crop buttons without text if width < 768"
As the subject say, the text of upload and crop buttons disappear if the width is 767 or lower (I'm using Chromium 62.0.3202.89 on Linux).

Also the crop and cancel buttons in the crop page have the same problem.

[2017-11-20 16:31] xenogenesi opened #38 "wrong Italian translation"
'Cancel' => 'Cancellre', //wrong

beside an 'a' is missing should be

     'Cancel' => 'Annulla', // correct

*Cancellare* mean erase/remove/delete and is correct used in the delete translation but wrong/ambiguous for the cancel button, please use *Annulla*.

[2017-11-20 16:55] xenogenesi opened #39 "question: would be possible to get it working with yii2-imperavi-widget?"
If I understand correctly the imperavi widget ([vova07/yii2-imperavi-widget](https://github.com/vova07/yii2-imperavi-widget)) support third parties imagemanager, the default is a plugin itself   [assets/plugins/imagemanager/imagemanager.js](https://github.com/vova07/yii2-imperavi-widget/blob/master/src/assets/plugins/imagemanager/imagemanager.js)

[2017-12-18 17:51] xenogenesi commented on #38
see https://github.com/xenogenesi/yii2-image-manager/commit/a0bb85c8523c8cfbcb3e75be1561e47598b72e21

[2017-12-18 17:54] xenogenesi commented on #37
This was because font awesome css was added for the modal but not in the view using `?r=imagemanager`, why not add font awesome as an asset? see https://github.com/xenogenesi/yii2-image-manager/commit/2d0d5c2db0511508f6f5981b6818228e93c60ccc

[2017-12-21 06:08] faisalijaz opened #41 "How to upload files at root of yii2 advance"
I am trying to configure it for the root of document but its not working I have created a config as it was told,

` 'imagemanager' => [
            'class' => 'noam148\imagemanager\components\ImageManagerGetPath',
            //set media path (outside the web folder is possible)
            'mediaPath' => '/uploads',
            //path relative web folder to store the cache images
            'cac

[2018-01-11 10:42] agendy commented on #41
I added the below and works properly with me
in component
'imagemanager' => [
            'class' => 'noam148\imagemanager\components\ImageManagerGetPath',
            //set media path (outside the web folder is possible)
            'mediaPath' => dirname(dirname(__DIR__)) . '/frontend/web/manual/images/uploads/media',
            //path relative web folder to store the cache images
            '

[2018-01-11 12:44] bvanleeuwen1995 commented on #41
With your first config example, the /upload was expecting to upload the files to the root of your disk in de upload folder, this will always give a array unless special permission is given to write to this location.

What I recommend your to do is use the Yii::getAlias() function, this will automatically build the correct location path. It is what I always use.

[2018-01-24 14:57] strtob opened #42 "Additonal functions: Configure table name &"
Hi,

Really great job! Some function would be very helpful!

1. Possibility to set the table name prefix like "tbl_user_"
2. Button to generate thumbnail

Unfortunately, I'm just a beginner so I don't know how to contribute in the development and hope that this points will be develop in the plugin.

all the best
Toby

[2018-01-24 15:23] noam148 commented on #42
Hi,

I will need to check if that is possible. To generate a thumbnail I will not integrate in the module but there are possibilitys to do I by your own.

For a long time I haven't support the module. But I will start work on it again to fix some bug's and add new features.

I let you know Sunday!

[2018-01-24 19:33] strtob commented on #42
This would be great, I'm looking forward to!

How can I extend and develop your tool by my own without getting overwritten with the next composer update or version update?

Have a good one

[2018-02-01 19:21] xenogenesi commented on #42
Actually should be enough to change everywhere the table is referenced from `'ImageManager'` to `'{{%ImageManager}}'`,  I did so and seems to be working just fine, if a table prefix is set in `db.php` then it should be used.

@strtob you should create your own fork of this repository on github, then edit the `composer.json` of the project using it and add something like that:

    "repositories":

[2018-02-03 12:50] strtob commented on #42
Thanks xenogenesi!

Do you know an easy possiblity how I can add additional attribute to the images like a description or user defined and editable name?

I try to render the imagemanager in a view to have it as a tabX, but I have no clue how to do it :-/

[2018-02-03 13:27] noam148 commented on #42
Hi everyone, sorry for my late response and that the project is not active. I wil start develop the project again when i'm back from holiday. Then i will work a couple of hours per week on it. I will start with the oldest issues. So some patiance is needed.

And @strtob thanks for continue the project. If all the issue done I will take a look at your repository what i can use for this project! Tha

[2018-02-18 01:27] gugatxr commented on #42
Thank you @xenogenesi. Your comment help me a lot. For me, to update composer was necessery add a release or tag.

@noam148 I'm insterested in help with the repo. I just add  a feature to get the url from the original image, without pass width and height.
Thank you for the package

[2018-02-18 19:44] noam148 commented on #35
@baltechies, @isalcedo create a fix and the code is merged. Let me know is the problem is solved!

Update the image manager to te last version for the fix.

Thanks al lot @isalcedo!

[2018-02-18 19:44] #35 closed, assigned to nobody

[2018-02-18 20:17] noam148 commented on #38
Sorry for my late response but thanks for the right translation

[2018-02-18 20:17] #38 closed, assigned to nobody

[2018-02-18 20:26] noam148 commented on #42
Thanks for all the help! @gugatxr help and pull requests are always welcome! Today I started again to develop on the project, and wil fix the opened issues. This issue I will pickup the next time!

[2018-02-18 20:49] noam148 commented on #41
Do you have still this issue? Please re-open issue

[2018-02-18 20:49] #41 closed, assigned to nobody

[2018-02-20 02:42] maz0717 commented on #32
I'm getting the same crash.  With the same error.    I think a dependency in the image manager composer file should be added.

[2018-03-14 16:48] SereiaMaster opened #43 "Two Enviroments / Url error"
I have a project with Frontend and Backend, backend fed images from frontend... How I configure plugin for this?

Folder in outside frontend/web and backend/web, but the image Url is not correct.

Help me please!

[2018-03-30 16:32] mohsenkhashei opened #44 "image upload size"
hi noam
first of all, that's perfect image manager
appreciate that.
how we can change image upload size?
is there limitation for that?
when the large image size upload, no error shown.

[2018-04-05 07:54] leodaddydev opened #45 "Use cachePath and mediaPath."
Hi Noam148 !
I have a problem with my site.I use image-mage with TinyMce. I create articles from my cms and this aritcles show on my client, so images dont show in my articles on client( root image save in client and thumbnail in cms).
+ thumbnail: /var/www/html/gimo_cms/web/asset/images/3c/3c0dfb368989f9ca6b311f93d8dc0aac.jpg
+ root image: /var/www/html/gimo/web/images/articles/28_R2385KaEtWsxwaK

[2018-04-09 01:11] #45 closed, assigned to nobody

[2018-05-15 19:47] narimant opened #46 "can i upload to other host"
i have a question can i upload the image with this madules to other host?

[2018-05-17 12:08] noam148 commented on #46
Nope, that's not possible. The file can only upload on his own server. You free to choose a path location on the server where to upload.

[2018-05-25 15:44] igorveremsky opened #47 "error: table not exist"
after install extension get error
![screenshot_264](https://user-images.githubusercontent.com/13087365/40553526-9ca8bf88-604b-11e8-9d60-2253d347ab13.png)

[2018-05-28 19:24] bvanleeuwen1995 commented on #47
Did you run the included migrations before trying to use the image manager?

[2018-05-29 08:01] igorveremsky commented on #47
@bvanleeuwen1995 yes, of course :) why will i changed migration at https://github.com/igorveremsky/yii2-image-manager/commit/4c963d8f479ed3f05dd48a50780aa275071f5dd1 if i don`t run it

[2018-06-08 17:25] #47 closed, assigned to nobody

[2018-06-22 14:56] vitalyashe opened #49 "Apache crashes because two "?" in get query"
I tried to get image via Controller, like "/file/getImage/?path=1.jpg", but when i select image in widget, module makes request "/file/getImage/?path=1.jpg?t=1529679246" and apache crashes.
Can you check a url, is it contain "?" and replace it with "&", if needed.

https://github.com/noam148/yii2-image-manager/blob/7c701c7123b217537d8abd11e31264582e7108b1/controllers/ManagerController.php#L351

[2018-10-04 07:01] patel28 opened #51 "how can I use imagemanager inside a module"
![image](https://user-images.githubusercontent.com/2745267/46457863-73d17800-c7d1-11e8-84dc-b7212cf2e910.png)

[2018-10-05 12:51] igorveremsky opened #52 "after click to select imagefrom image manager page scroll to top"
after i click button to select image in input (see screenshot below), page scroll to top, its really uncomfotable.
![screenshot_290](https://user-images.githubusercontent.com/13087365/46536096-1400cd00-c8b6-11e8-8e71-a0acdda43ca3.png)
Also its easy to fix just need to add `e.preventDefault` on click event, example - https://github.com/igorveremsky/yii2-image-manager/commit/68207a7ad2a8a32b0133b917

[2018-12-11 12:27] igorveremsky commented on #52
same problem with delete button

[2019-02-07 18:04] Nagibaba commented on #47
in Yii2 image manager the table name is defined as `ImageManager`, but in my case table name on DB is `imagemanager`. Change table name to the same case from DB

[2019-02-07 18:11] igorveremsky commented on #47
@Nagibaba what do you mean as `Yii2 image manager`? issue already closed because by change  table name to `imagemanager` at extension migrations

[2019-02-07 18:15] igorveremsky commented on #47
@Nagibaba at 1.2.10 release - https://github.com/noam148/yii2-image-manager/releases/tag/1.2.10

[2019-02-07 19:03] bvanleeuwen1995 commented on #47
@Nagibaba is correct, the code changes broke any existing installations, mind you it isn't a problem for example in Postgres, since Postgres converters to lower case anyway, but I have various applications applications that use MySQL that now require manual patching

@noam148 can you please reopen this ticket since the PR made changes to the module for already existing applications, this will need

[2019-02-07 19:39] noam148 commented on #47
@Nagibaba @bvanleeuwen1995 there is a new release. It is fixed in 1.2.11. Can you check?

[2019-02-12 23:40] codigowww opened #54 "1.2.11 table not exist"
I have problem with version 1.2.11, in this commit: https://github.com/noam148/yii2-image-manager/commit/458d69c60a7034772daeba5255edf61123810050#diff-4d288fa17e65c8738aafbec4aabdb456
you change {{%imagemanager}} to {{%ImageManager}},
in windows server the plugin run ok , but in linux plugin crash because not find the table in db, i think it's because unix systems are case-sensitive. I was forced

[2019-02-14 07:38] noam148 commented on #54
Please update your table name to ImageManager instead of imagemanager. It's update by accident to lowercase. That's the reason is update it back to ImageManager. Sorry for the confusion.

[2019-03-20 06:28] bemulima opened #57 "for postgresql migration does not applied"
LINE 1: ...ER TABLE "ImageManager" ALTER COLUMN "id" TYPE INT(10) UNSIG...
                                                             ^
The SQL being executed was: ALTER TABLE "ImageManager" ALTER COLUMN "id" TYPE INT(10) UNSIGNED NOT NULL AUTO_INCREMENT'

in C:\OSPanel\domains\ad.loc\vendor\yiisoft\yii2\db\Schema.php:664

Error Info:
Array
(
    [0] => 42601
    [1] => 7
    [2] => ОШИБКА:  оши

[2019-03-28 13:05] devmukesh1510 opened #58 "not uploading images if /default/ removed from modules"
'urlManager' => [
            'enablePrettyUrl' => true,
            'showScriptName' => false,
            'rules' => [
                '<module:\w+>/<action:\w+>/<id:(.*?)>' => '<module>/default/<action>/<id>',
                '<module:\w+>/<action:\w+>' => '<module>/default/<action>',
            ],

also getting "Can't view image. Error: Not Found (#404): Page not found." while click on images

[2019-03-28 19:49] charleswroy opened #59 "3 mistakes in french translation"
Good afternoon @noam148,

There are 3 misakes in the french translations:

    'Are you sure you want to delete this image?' => 'Voulez-vous vraiment effacer cet\'image?',
    'Are you sure you want to detach the image?' => 'Voules-vous détacher cet\'image?',
    'Upload' => 'Upload'

Should be:

    'Are you sure you want to delete this image?' => 'Voulez-vous vraiment effacer cette image?',

[2019-04-14 16:04] olena-melnik opened #60 "500 (Internal Server Error)"
Hello, when loading your application an error occurs
![Screenshot_3](https://user-images.githubusercontent.com/27019451/56095680-ed1bf700-5ee7-11e9-8862-910f5582d2eb.png)

[2019-05-14 01:23] pvolyntsev commented on #60
@olena-melnik Please provide with details from Yii application error log

[2019-05-14 18:56] olena-melnik commented on #60
@pvolyntsev
![image](https://user-images.githubusercontent.com/27019451/57724299-271d1c00-7693-11e9-95de-254978174ea4.png)

[2019-05-14 18:57] olena-melnik commented on #60
@pvolyntsev
![image](https://user-images.githubusercontent.com/27019451/57724334-3dc37300-7693-11e9-8e8b-2d3c038f44d3.png)

[2019-05-14 19:02] olena-melnik commented on #60
@pvolyntsev
Thank you, I didn`t even hope for an answer.

[2019-05-15 04:41] pvolyntsev commented on #60
@olena-melnik I see you didn't change sample configuration options

This option
```'mediaPath' => '/path/where/to/store/images/media/imagemanager',```
shoud be set according to your case

[2019-05-15 08:28] olena-melnik commented on #60
Thank you very much)) "I noticed not the elephant at all"

[2019-05-15 08:28] #60 closed, assigned to nobody